@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/Login/Login.css">
</head>
<body>
    @if (ViewBag.ErrorMessage != null)
    {
        <div id="msgAlert" class="alert alert-danger fixed-top" role="alert" style="z-index:99999 ; text-align:center ; height:70px; font-size:24px ;font-weight:600">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <div id="msgAlert" class="alert alert-success fixed-top" role="alert" style="z-index: 99999; text-align: center; height: 70px; font-size: 24px; font-weight: 600 ">
            @ViewBag.SuccessMessage
        </div>
    }

    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#login">ĐĂNG NHẬP</a></li>
            <li class="tab"><a href="#signup">ĐĂNG KÝ</a></li>
        </ul>
        <div class="tab-content">
            <div id="login">
                <h1>Chào mừng đã trở lại!</h1>
                <form id="loginForm" action="@Url.Action("KiemTraDangNhap", "Login")" method="post">
                    <div class="field-wrap">
                        <label for="username">
                            Tài khoản: <span class="req">*</span>
                        </label>
                        <input type="text" required name="username" id="username" />
                    </div>
                    <div class="field-wrap">
                        <label for="password">
                            Mật khẩu: <span class="req">*</span>
                        </label>
                        <input type="password" required name="password" id="password" />
                    </div>
                    <button class="button button-block">
                        <span>Đăng nhập</span>
                    </button>
                </form>
            </div>
            <div id="signup">
                <h1>Đăng ký miễn phí</h1>
                <form id="signupForm" action="@Url.Action("SaveRegistration", "Login")" method="post">
                    <div class="field-wrap">
                        <label for="TenDocGia">
                            Họ và tên<span class="req">*</span>
                        </label>
                        <input type="text" required name="TenDocGia" id="TenDocGia" />
                        <div class="error-message" id="error-ten"></div>
                    </div>
                    <div class="field-wrap">
                        <label for="SoDienThoai">
                            Số điện thoại<span class="req">*</span>
                        </label>
                        <input type="tel" required name="SoDienThoai" id="SoDienThoai" />
                        <div class="error-message" id="error-so-dien-thoai"></div>
                    </div>
                    <div class="field-wrap">
                        <label for="Email">
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required name="Email" id="Email" />
                        <div class="error-message" id="error-email"></div>
                    </div>
                    <div class="field-wrap">
                        <label for="Passwords">
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required name="Passwords" id="Passwords" />
                        <div class="error-message" id="error-password"></div>
                    </div>
                    <button class="button button-block" id="btnLogin">
                        <span >Đăng ký</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });

    $('.tab a').on('click', function (e) {

        e.preventDefault();

        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');

        target = $(this).attr('href');

        $('.tab-content > div').not(target).hide();

        $(target).fadeIn(600);

    });

    $(document).ready(function () {
        var alert = $("#msgAlert");
        if (alert.length) {
            alert.fadeOut(3500, function () {
                alert.remove();
            });
        }
    });

    // Validation
    $('#signupForm').submit(function (e) {
        e.preventDefault();
        var isValid = true;

        // Reset previous error messages
        $('.error-message').text('');

        var tenDocGia = $('#TenDocGia').val();
        var soDienThoai = $('#SoDienThoai').val();
        var email = $('#Email').val();
        var password = $('#Passwords').val();

        if (!/^[^\d]+$/.test(tenDocGia)) {
            isValid = false;
            $('#error-ten').text('Tên không được chứa toàn kí tự số.');
        }

        if (soDienThoai.startsWith('0')) {
            // Nếu số điện thoại bắt đầu bằng số 0, kiểm tra xem có đủ 10 số không
            if (!/^0\d{9}$/.test(soDienThoai)) {
                isValid = false;
                $('#error-so-dien-thoai').text('Số điện thoại phải có độ dài là 10 số.');
            }
        } else {
            // Nếu số điện thoại không bắt đầu bằng số 0, hiển thị thông báo thông thường

            $('#error-so-dien-thoai').text('Số điện thoại phải bắt đầu bằng số 0.');

        }

        if (!/^[^\s]+[^\s]+\.[^\s]+$/.test(email)) {
            isValid = false;
            $('#error-email').text('Email không hợp lệ. Vui lòng nhập đúng định dạng example@gmail.com.');
        }

        if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(password)) {
            isValid = false;
            $('#error-password').text('Mật khẩu không hợp lệ. Mật khẩu phải có ít nhất 8 và nhiều nhất là 16 kí tự, phải có ít nhất một chữ cái viết hoa, một chữ cái viết thường và một số.');
        }

        if (isValid) {
            // Submit form if all validations pass
            $(this).unbind('submit').submit();
        }
    });
</script>
</html>
